.chat {
  display: flex;
  flex: 0.65;
  flex-direction: column;
  height: 100vh;
  background-color: white;
}
.chatheader {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  background-color: #f5f5f5;
}
.chatheader > h4 {
  color: grey;
}
.chat_name {
  color: black;
}

.chatinput {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-top: 1px solid lightgray;
  background-color: #f5f5f5;
}
.chatinput > form {
  flex: 1;
}

.chatmessage {
  flex: 1;
  overflow: scroll;
}

.chatmessage::-webkit-scrollbar {
  display: none;
}

.chatinput > form > input {
  width: 98%;
  outline-width: 0;
  border: 1px solid lightgray;
  border-radius: 999px;
  padding: 5px;
}
.chatinput > form > button {
  display: none;
}
